<h1>Triathlon time calculator</h1>

<div class="block">
  <label>Race:</label>
  <select id="soflow" placeholder="Select event...." (change)="selectChangeHandler($event)">
    <option>Select event....</option>
    <option *ngFor="let race of races" [value]="race.name">
      {{race.name}}
    </option>
  </select>
</div>
<div>
  <p></p>
</div>
<div class="block">
  <label>Swim:</label>
  <input type="text" [(ngModel)]="inputSwim" placeholder="mm:ss / 100m" />
</div>
<div class="block">
  <label>T1:</label>
  <input type="text" [(ngModel)]="inputT1" placeholder="mm:ss" />
</div>
<div class="block">
  <label>Bike:</label>
  <input type="text" [(ngModel)]="inputBike" placeholder="km.mm/h" />
</div>
<div class="block">
  <label>T2:</label>
  <input type="text" [(ngModel)]="inputT2" placeholder="mm:ss" />
</div>
<div class="block">
  <label>Run:</label>
  <input type="text" [(ngModel)]="inputRun" placeholder="mm:ss / km" />
</div>

<p>Total time is: <strong>{{ totalTimeString }}</strong></p>
<button (click)="timeCounter()">Calculate</button>
